@import '../../../Style/variables.scss';
.well-main-container {
	background-color: $gray-bg-fields;
	padding: 20px 0;
	border-top: 1px solid $label-border-green-blue;
	
	.bg-hr {
		background-color: $gray-bg-fields;
		position: relative;
		z-index: 1;
	}
	
}

hr {
	position: relative;
	top: -15px;
}

.well-other-options {
	padding: 20px 0;

	.bg-hr-w {
		background-color: $white;
		color: $label-border-green-blue;
		position: relative;
		z-index: 1;
	}
	
	hr {
		border-top-color: $label-border-green-blue;
	}
	
	.border-l {
		@media #{$f-sm}{
			border-left: 1px solid $gray-border;
		}
	}
}