<form name="wellForm">
	<div class="well-main-container">
		<div class="clearfix" ng-if="isUpdateWell">
			<div class="form-group col-xs-24 col-sm-12 col-md-12">
				<label for="wellList" class="m">Well List</label>
				<select class="form-control" id="wellList" ng-model="models.wellListId"
						ng-options="option.Id as option.NameWell for option in models.wellList" ng-change="getWellInfo()">
					<option value="">Please select...</option>
				</select>
			</div>
		</div>
		<div class="clearfix">
			<div class="form-group col-xs-24 col-sm-12 col-md-6">
				<label for="wellId" class="m">Well ID</label>
				<input type="text" class="form-control" id="wellId" maxlength="50" ng-model="models.wellId"
					   data-isRequired="true" ng-disabled="!models.wellListId && isUpdateWell" custom-validation-ceo>
			</div>
			<div class="form-group col-xs-24 col-sm-12 col-md-6">
				<label for="wellName" class="m">Well Name</label>
				<input type="text" class="form-control" id="wellName" ng-model="models.wellName" maxlength="500"
					   data-isRequired="true" ng-disabled="!models.wellListId && isUpdateWell" custom-validation-ceo>
			</div>
			<div class="form-group col-xs-24 col-sm-12 col-md-6">
				<label for="wellStatus" class="m">Well Status</label>
				<select class="form-control" id="wellStatus" ng-model="models.wellStatusId"
						ng-options="option.Id as option.Name for option in modelsLists.wellStatus" data-isRequired="true"
						ng-disabled="!models.wellListId && isUpdateWell" custom-validation-ceo>
					<option value="">Please select...</option>
				</select>
			</div>
			<div class="form-group col-xs-24 col-sm-12 col-md-6">
				<label for="unitSystem" class="m">Unit System</label>
				<select class="form-control" id="unitSystem" ng-model="models.unitSystemId"
						ng-options="option.Id as option.Name for option in modelsLists.unitSystem" data-isRequired="true" ng-change="getUnitSystem()"
						ng-disabled="!models.wellListId && isUpdateWell" custom-validation-ceo>
					<option value="">Please select...</option>
				</select>
			</div>
		</div>
		<div class="clearfix">
			<div class="form-group col-xs-24 col-sm-12 col-md-6">
				<label for="oilFields" class="m">Oil Field</label>
				<select class="form-control" id="oilFields" ng-model="models.oilFieldId"
						ng-change="getOilFieldInfo()"
						ng-options="option.Id as option.Name for option in modelsLists.oilFields" data-isRequired="true"
						ng-disabled="!models.wellListId && isUpdateWell" custom-validation-ceo>
					<option value="">Please select...</option>
				</select>
			</div>
			<div class="form-group col-xs-24 col-sm-12 col-md-6">
				<label for="country">Country</label>
				<input type="text" class="form-control" id="country" ng-model="models.country" readonly>
			</div>
			<div class="form-group col-xs-24 col-sm-12 col-md-6">
				<label for="location">Location</label>
				<input type="text" class="form-control" id="location" ng-model="models.location" readonly>
			</div>
			<div class="form-group col-xs-24 col-sm-12 col-md-6">
				<label for="timeZone">Time Zone</label>
				<input type="text" class="form-control" id="timeZone" ng-model="models.timeZone"
					   data-isRequired="true" readonly>
			</div>
		</div>
		<div class="clearfix">
			<div class="form-group col-xs-24 col-sm-12 col-md-6">
				<label for="intervalTime" class="m">Interval Time (seg)</label>
				<input type="number" class="form-control" id="intervalTime" maxlength="3" data-typeValidation="number" data-maxValue="120" data-minValue="0"
					   ng-disabled="!models.wellListId && isUpdateWell" ng-model="models.intervalTime" data-isRequired="true" custom-validation-ceo>
			</div>
			<div class="form-group col-xs-24 col-sm-12 col-md-6">
				<div class="clearfix">
					<label for="intervalDepth" class="m bg-hr">Interval Depth</label>
					<hr>
				</div>
				<div class="clearfix">
					<div class="col-xs-17 col-md-15  col-lg-16 p0-l" ng-if="models.intervalDepthUnitId === 2">
						<input type="number"
							   step="0.1"
							   class="form-control"
							   id="intervalDepth"
							   ng-model="models.intervalDepth"
							   ng-disabled="!models.wellListId && isUpdateWell"
							   data-isRequired="true"
							   custom-validation-ceo >
					</div>
					<div class="col-xs-17 col-md-15  col-lg-16 p0-l" ng-if="models.intervalDepthUnitId !== 2">
						<input type="number"
							   ng-class="{'required': (wellForm.$error.pattern || wellForm.$error.required )}"
							   class="form-control"
							   id="intervalDepth"
							   ng-pattern="/^(0|\-?[1-9][0-9]*)$/"
							   ng-model="models.intervalDepth"
							   ng-disabled="!models.wellListId && isUpdateWell"
							   ng-required="true"
							   custom-validation-ceo >
						<span ng-show="wellForm.$error.pattern" class="required ng-binding ng-scope">
						Please, only integer numbers</span>
						<span ng-show="wellForm.$error.required" class="required ng-binding ng-scope">
						Required</span>
					</div>
					<div class="col-xs-7 col-md-9 col-lg-8 p0-l p0-r">
						<select class="form-control" id="intervalDepthUnit" title="interval depth unit" ng-model="models.intervalDepthUnitId"
								ng-options="option.Id as option.Symbol for option in modelsLists.intervalDepthUnit"
								readonly></select>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix">
			<div class="col-xs-24 text-center">
				<button type="button" ng-click="saveWell()" class="btn" ng-if="!isUpdateWell">CREATE</button>
			</div>
		</div>
	</div>
	<div class="well-other-options">
		<div class="clearfix">
			<div class="col-xs-24">
				<label class="bg-hr-w">MORE INFORMATION<span>(OPTIONAL)</span>
				</label>
				<hr>
			</div>
		</div>
		<div class="clearfix flex">
			<div class="col-xs-24 col-sm-15 p0-l p0-r">
				<div class="clearfix">
					<div class="form-group col-xs-24 col-sm-8">
						<label for="initializeDepth">Initialize Depth</label>
						<input type="number" class="form-control" id="initializeDepth"
							   ng-model="models.initializeDepth" ng-disabled="!models.wellListId && isUpdateWell">
					</div>
					<div class="form-group col-xs-24 col-sm-8">
						<label for="spudDate">Spud Date</label>
						<input type="text" class="form-control" id="spudDate" ng-model="models.spudDate"
							   ui-mask="9?9?/?9?9?/?9?9?9?9?" ui-mask-placeholder="MM/DD/YYYY" ng-disabled="!models.wellListId && isUpdateWell"
							   data-typeValidation="date" model-view-value="true" custom-validation-ceo>
					</div>
					<div class="form-group col-xs-24 col-sm-8">
						<label for="classificationWell">Classification Well</label>
						<select class="form-control" id="classificationWell"
								ng-model="models.classificationWellId" ng-disabled="!models.wellListId && isUpdateWell"
								ng-options="option.Id as option.Name for option in modelsLists.classificationWell">
							<option value="">Please select...</option>
						</select>
					</div>
				</div>
				<div class="clearfix">				
					<div class="form-group col-xs-24 col-sm-8">
						<label for="wellOperator">Well Operator</label>
						<select class="form-control" id="wellOperator"
								ng-model="models.wellOperatorId"
								ng-options="option.Id as option.Name for option in modelsLists.wellOperator"
								ng-disabled="!models.wellListId && isUpdateWell">
							<option value="">Please select...</option>
						</select>
					</div>
					<div class="form-group col-xs-24 col-sm-8">
						<label for="rig">Rig</label>
						<select class="form-control" id="rig" ng-model="models.rigId"
								ng-options="option.Id as option.Name for option in modelsLists.rig"
								ng-disabled="!models.wellListId && isUpdateWell">
							<option value="">Please select...</option>
						</select>
					</div>
					<div class="form-group col-xs-24 col-sm-8">
						<label for="mudLoggingUnit">MudLogging Unit</label>
						<select class="form-control" id="mudLoggingUnit" ng-model="models.mudLoggingUnitId"
								ng-options="option.Id as option.Name for option in modelsLists.mudLoggingUnit"
								ng-disabled="!models.wellListId && isUpdateWell">
							<option value="">Please select...</option>
						</select>
					</div>
				</div>
				<div class="clearfix">
					<div class="form-group col-xs-24">
						<label for="comments">Comments</label>
						<textarea class="form-control" rows="3" id="comments" ng-model="models.comments" ng-disabled="!models.wellListId && isUpdateWell"></textarea>
					</div>
				</div>
			</div>
			<div class="col-sm-offset-1 col-sm-1 hidden-xs border-l"></div>
			<div class="col-xs-24 col-sm-7 p0-l p0-r">
				<div class="clearfix">
					<div class="col-xs-24 form-group">
						<label for="latitude">Latitude</label>
						<input type="text" class="form-control" id="latitude" ng-model="models.latitude" maxlength="30" ng-disabled="!models.wellListId && isUpdateWell">
					</div>
				</div>
				<div class="clearfix">
					<div class="col-xs-24 form-group">
						<label for="longitude">Longitude</label>
						<input type="text" class="form-control" id="longitude" ng-model="models.longitude" maxlength="30" ng-disabled="!models.wellListId && isUpdateWell">
					</div>
				</div>
				<div class="clearfix">
					<div class="col-xs-24 col-lg-12 form-group">
						<label for="groundElevation">Ground Elevation</label>
						<input type="number" step="0.1" class="form-control" id="groundElevation"
                               ng-disabled="!models.wellListId && isUpdateWell" ng-model="models.groundElevation">
					</div>
					<div class="col-xs-24 col-lg-12 form-group">
						<label for="KBElevation">KB Elevation</label>
						<input type="number" step="0.1" class="form-control" id="KBElevation"
                               ng-disabled="!models.wellListId && isUpdateWell" ng-model="models.KBElevation">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="col-xs-24 text-center">
			<button type="submit"
					class="btn"
					ng-click="updateWell()"
					ng-if="isUpdateWell"
					ng-disabled="!wellForm.$dirty">
				UPDATE
			</button>
		</div>
	</div>
</form>

<script type="text/ng-template" id="modalSuccessSaveTemplate.html">
	<div class="modal-body text-center">
		Well created correctly
	</div>
	<div class="modal-footer text-center">
		<button class="btn" type="button" ng-click="dismissModal()" autofocus>Close</button>
	</div>
</script>