@page {
  /* declaraciones Css */
  @top-center {
    content: "mis cosas";
  }
  @footnote {
    float: bottom;
  }
}

@import '../../../Style/variables.scss';
@import '../../../Style/icons.scss';

body {
  	font-family: 'Roboto', sans-serif !important;
  	font-size: 12px;
	@media #{$f-md}{
		font-size: 14px;
	}
  	background: $white;
	height: 100vh;
	
}

#wrapper,
#wrapper-view {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper-view {
 
  #page-content-wrapper {
    background: #F9F9F9;
    padding-top: 5px;
    .view-header-container {
      background: white;
      padding-top: 1em;
      padding-bottom: 1em;
      border-style: solid;
      border-color: #6589c8;
      border-width: 0.1em;
      margin-left: 0.1em;
      margin-right: 0.1em;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 75px;
  width: 0;
  height: 100%;
  margin-left: -75px;
  overflow-y: auto;
  overflow-x: hidden;
  background: $menu;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#page-content-wrapper {
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -75px;
}

form {
  background-color: $bg-forms;
}

///forms////
.navigation-buttons-wrapper {
  position: fixed;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f2f2f2;
  width: 92%;
  z-index: 997;
}

///// Field required. ////
.form-control.required, input.required, select.required {
  border-color: $red !important;
}
span {
	&.required {
		color: $red;
		position: absolute;
	}
}

.form-group {
	padding-bottom: 15px;
}

//// CHECKBOX - RADIOBUTTON /////
input[type=checkbox]:checked,
input[type=radio]:checked,
input[type=checkbox]:focus,
input[type=radio]:focus {
  outline: none !important;
}

@media(min-width:768px) {
	#wrapper {
		padding-left: 75px;
	}
	#wrapper.toggled {
		padding-left: 250px;
	}
	#sidebar-wrapper {
		width: 75px;
	}
	#wrapper.toggled #sidebar-wrapper {
		width: 250px;
	}
	#page-content-wrapper {
		position: relative;
		overflow-y: auto;
	}
	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
}

@mixin br($px) {
	-webkit-border-radius: $px !important;
	-moz-border-radius: $px !important;
	-ms-border-radius: $px !important;
	-o-border-radius: $px !important;
	border-radius: $px !important;
}

input, select {
	border: 1px solid $gray-border !important;
	@include br(4px);
	min-height: 36px;
		
	&[readonly] {
		background-color: $readOnly !important;
		
		&:active, &:focus {
			border-color: $gray-border !important;
		}
	}
	
	&:active, &:focus {
		border-color: $focus !important;
	}
}

input, select, textarea, button {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	font-size: 12px !important;
	@media #{$f-md}{
		font-size: 14px !important;
	}
}

textarea {
	resize: none;
	overflow-y: auto;
	min-height: 80px;
}

label {
	color: $label;
	font-weight: 400;
	padding-right: 5px;
}

.m {
	&:before {
		content: '*';
		color: $red;
		position: relative;
	}
}

hr {
	margin: 0;
	padding: 0;
	border-top: 1px solid $hr;
}

.p0-l {
	padding-left: 0;
}

.p0-r {
	padding-right: 0;
}

.btn {
	color: $white !important;
	min-height: 36px !important;
	min-width: 130px !important;
	background-color: $btn !important;
	outline: none !important;
	@include br(4px);
	
	&:hover, &:focus, &:active {
		background-color: $hover-btn !important;
		color: $white !important;
	}
}

.bdc {
	span {
		font-size: 15px;
		color: $bdc;
	}
	padding-bottom: 10px;
}

.flex {
	@media #{$f-sm}{
		display: flex;
	}
}

.swal2-modal{
	font-family: 'Roboto', sans-serif !important;
	width: 450px !important;
	@include br(0);
	
	button[class*='confirm'] {
		@extend .btn;
		padding: 6px 32px;
	}
	
	button[class*='cancel'] {
		background: none !important;
		color: $label;
		text-decoration: underline;
		outline: none;
		&:hover, &:focus, &:active {
			opacity: 0.6;
		}
	}
	
	#modalContentId {
		font-size: 12px;
		@media #{$f-md}{
			font-size: 14px;
		}
		font-weight: 400;
		padding-top: 15px;
		padding-bottom: 10px;
	}
	
	.swal2-icon {
		&.swal2-success {
			border-color: $btn !important;
			span {
				&.line {
					background-color: $btn !important;
				}
			}
		}
	}
}

