@import '../../../Style/variables.scss';
@import '../../../Style/icons.scss';

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* define a fixed width for the entire menu */
.navigation {
    width: 300px;
}

/* reset our lists to remove bullet points and padding */
.mainmenu,
.submenu,
.submenuu {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu {
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	a {
		display: block;
		background-color: $menu;
		text-decoration: none;
		padding: 10px;
		color: $white;
		
		&:hover, &:active, &:focus {
    		background-color: $menu-hover;
		}
	}
	
	> li {
		border-bottom: 1px solid $white;
		> a {
			font-size: 15px;
			text-align: center;
		}
	}
}

#wrapper {
	&.toggled {
		#sidebar-wrapper {
			li.open {
				> .submenu {
					display: block;
					height: auto;
					max-height: 100%;
				}
			}
		}		
	}
}


/*
 we now overwrite the background-color for .submenu links only.
 CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a,
.submenuu a {
    background-color: $menu;
}


/* hover behaviour for links inside .submenu */

.submenu a:hover {
    background-color: $menu-hover;
}

.submenuu a:hover {
    background-color: $menu-hover;
}


/* this is the initial state of all submenus.
 we set it to max-height: 0, and hide the overflowed content.
*/

.submenu,
.submenuu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
	a {
		padding-left: 15px;
	}
}

.ham {
	min-height: 48px;
	color: $white;
	text-align: center;
	padding-top: 15px;
	cursor: pointer;
	&:hover, &:active, &:focus {
		background-color: $menu-hover;
	}
}