<!-- Sidebar -->
<div id="sidebar-wrapper">
    <nav class="navigation">
        <ul class="sidebar-nav mainmenu">
            <li class="ham" ng-click="toggle()">
                Menú
            </li>
            <li ng-repeat="menuOption in menuOptions" ng-class="{'open': clicked}" ng-click="clicked = !clicked">
                <!--<img ng-repeat="image in menuImg track by $index" ng-src="{{ image.im }}" alt="{{ image.name }}">-->
                <a href="" ng-click="navigateTo(menuOption.Url);"><span>{{menuOption.Title}}</span></a>

                <ul ng-repeat="subMenu in menuOption.Children" class="submenu">
                    <li>
                        <a href="" ng-click="navigateTo(subMenu.Url);"><span>{{subMenu.Title}}</span></a>
                        <ul ng-repeat="subSubMenu in subMenu.Children" class="submenuu">
                            <li>
                                <a href="" ng-click="navigateTo(subSubMenu.Url);"><span>{{subSubMenu.Title}}</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!-- /#sidebar-wrapper -->