<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SecurityManagment.Common.Configuration.CommonSettingsAplication" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SecurityManagment.Common.Configuration.CommonSettingsAplication>
            <setting name="MESSFromAddress" serializeAs="String">
                <value>Es necesario ingresar un remitente.</value>
            </setting>
            <setting name="MESSToAddress" serializeAs="String">
                <value>Es necesario ingresar un destinatario</value>
            </setting>
            <setting name="SMTPHost" serializeAs="String">
                <value>10.9.0.252</value>
            </setting>
            <setting name="MESSSMTPSucess" serializeAs="String">
                <value>Correo electrónico fue enviado satisfactoriamente.</value>
            </setting>
            <setting name="MESSSMTPError" serializeAs="String">
                <value>Error enviando correo electrónico: </value>
            </setting>
        </SecurityManagment.Common.Configuration.CommonSettingsAplication>
    </applicationSettings>
</configuration>